sudo: required
services:
  - docker

before_install:
  - docker build -t younuk23/react-test -f ./client/Dockerfile.dev ./client

script:
  - docker run -e CI=true younuk23/react-test npm run test

after_success:
  - docker build -t younuk23/multi-clientf ./client
  - docker build -t younuk23/multi-nginx ./nginx
  - docker build -t younuk23/multi-server ./server
  - docker build -t younuk23/multi-worker ./worker
  - echo "$DOCKER_TOKEN" | docker login -u "$DOCKER_ID" --password-stdin
  - docker push younuk23/multi-client
  - docker push younuk23/multi-nginx
  - docker push younuk23/multi-server
  - docker push younuk23/multi-worker
